{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">

        <!-- Main -->
        <section id="main" class="container">
            <header>
                {{ include('::_menu.html.twig') }}
                <span class="avatar">
                    <img src="{{ asset("assets/img/avatar.jpg") }}" alt=""/>
                </span>
            </header>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Time</th>
                    <th>Type</th>
                    <th>Kcal</th>
                    <th>User</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for meal in meals %}
                    <tr>
                        <td><a href="{{ path('meal_show', { 'id': meal.id }) }}">{{ meal.id }}</a></td>
                        <td>{% if meal.time %}{{ meal.time|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ meal.type }}</td>
                        <td>{{ meal.kcal }}</td>
                        <td>{{ meal.user }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('meal_show', { 'id': meal.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('meal_edit', { 'id': meal.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <ul>
                <li>
                    <a href="{{ path('meal_new') }}">Create a new entry</a>
                </li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Tomasz Banaś</li>
                <li>Bazy danych</li>
            </ul>
        </footer>

    </div>
{% endblock %}
