{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">

        <!-- Main -->
        <section id="main" class="container">
            <header>
                {{ include('::_menu.html.twig') }}
                <span class="avatar">
                    <img src="{{ asset("assets/img/avatar.jpg") }}" alt=""/>
                </span>
            </header>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create"/>
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="{{ path('meal_index') }}">Back to the list</a>
                </li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Tomasz Banaś</li>
                <li>Bazy danych</li>
            </ul>
        </footer>

    </div>
{% endblock %}
