{% extends 'base.html.twig' %}

{% block body %}
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <section id="main" class="container">
            <header>
                {{ include('::_menu.html.twig') }}
                <span class="avatar">
                    <img src="{{ asset("assets/img/avatar.jpg") }}" alt=""/>
                </span>
            </header>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Tomasz Banaś</li>
                <li>Bazy danych</li>
            </ul>
        </footer>

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("assets/css/main.css") }}"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{ asset(" assets/css/ie9.css") }}" /><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href={{ asset("assets/css/ie8.css") }}"" /><![endif]-->
    <noscript>
        <link rel="stylesheet" href="{{ asset("assets/css/noscript.css") }}"/>
    </noscript>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--[if lte IE 8]>
    <script src="{{ asset(" assets/js/html5shiv.js") }}"></script><![endif]-->
    <!--[if lte IE 8]>
    <script src="{{ asset(" assets/js/respond.min.js") }}"></script><![endif]-->
    <script>
        if ('addEventListener' in window) {
            window.addEventListener('load', function () {
                document.body.className = document.body.className.replace(/\bis-loading\b/, '');
            });
            document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
        }
    </script>
{% endblock %}
