{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

<div class="field">
    {{ form_row(form.email) }}
</div>

<div class="field">
    {{ form_row(form.username) }}
</div>

<div class="field">
    {{ form_row(form.plainPassword.first) }}
</div>

<div class="field">
    {{ form_row(form.plainPassword.second) }}
</div>

<div class="field">
    <input type="submit" value="{{ 'registration.submit'|trans }}"/>
</div>

{{ form_end(form) }}
